.list {
  .list__item {
    position: relative;
    border-bottom: 1px solid #eee;
    width: 100%;
    clear: both;
    padding: 30px 0;

    &:hover {
      background-color: #f8f8f8;
    }

    .list__item__content {
      display: flex;
      a {
        text-decoration: none;
      }
    }

    .list__item__image {
      margin-right: 30px;

      .el-image {
        width: 216px;
        height: 162px;
      }
    }

    .list__item__info {
      width: 100%;
      margin-right: 5px;

      .list__item__info__name-price {
        display: flex;
        justify-content: space-between;
      }

      .list__item__info__name {
        color: #3b4144;
        margin-right: 10px;
        height: 30px;
        max-width: 320px;
        overflow: hidden;
        font-weight: bold;
        white-space: nowrap;
        font-size: 24px;
      }

      .list__item__info__preferential {
        i {
          display: inline-block;
          line-height: 20px;
          font-style: normal;
          padding: 0 5px;
          background: #FF6263;
          color: #fff;
          border-radius: 3px 0 0 3px;
        }

        span {
          display: inline-block;
          border: 1px solid #FF6263;
          border-radius: 0 3px 3px 0;
          border-left: 0;
          line-height: 18px;
          padding: 0 5px;
          font-size: 12px;
          color: #FF6263;
        }
      }

      .list__item__info__price {
        color: #FF6263;
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
      }

      .list__item__info__local {
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        font-size: 14px;
        overflow: hidden;

        span {
          color: #869099;
        }

        .el-button {
          color: #47b3e3;
        }
      }

      .list__item__info__tel {
        font-size: 16px;
        color: #869099;

        i {
          margin-right: 10px;
        }

        .list__item__info__tel__relay {
          font-size: 14px;
          padding: 0 5px;
        }
      }

      .list__item__info__tag {
        margin-top: 20px;
      }
    }

    .list__item__sales {
      display: inline-flex;
      position: absolute;
      right: 5px;
      top: 125px;

      .el-image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .info {
        .num {
          color: #869099;
          font-size: 12px;
          line-height: 18px;
        }

        .el-button {
          width: 80px;
          line-height: 20px;
          margin-top: 10px;
          font-size: 12px;
          background: #47b3e3;
          border: none;
          border-radius: 3px;
          color: #fff;
          padding: 0;
        }
      }
    }

    .list__item__reason {
      padding: 10px 20px 15px;
      background: #f8f8f8;
      margin-top: 15px;

      .title {
        line-height: 24px;
        font-weight: bold;
      }

      .content {
        color: #869099;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  .el-pagination {
    margin-top: 30px;
    text-align: right;
  }
}