.metro {
  .el-row {
    line-height: 30px;
    margin-bottom: 10px;

    .el-button {
      margin: 0 20px 0 0;
      padding: 5px 0;

      &.active {
        color: #47b3e3;
        font-weight: bold;
      }
    }

    .metro__station {
      border: 1px solid #eee;
      background: #fafafa;
      line-height: 35px;
      padding-left: 60px;
      margin-top: 10px;
    }
  }
}