.detail {
  .detail__local {
    margin: 20px 0;
    color: #869099;
    height: 19px;

    .el-link {
      top: -2px;
    }

    .el-link+.el-link {
      &::before {
        content: '>';
        margin: 0 5px;
      }
    }
  }
}