.detail {
  .detail__local {
    margin: 20px 0;
    color: #869099;
    height: 19px;

    a+a {
      &::before {
        content: '>';
        margin: 0 5px;
      }
    }
  }

  /deep/.el-row {
    margin-top: 40px;
  }
}
