.submenu-item {
  .el-row {
    line-height: 33px;

    .submenu-item__link__title {
      font-weight: bold;
    }

    a {
      &::after {
        content: '';
        margin-right: 25px;
      }
    }
  }
}