.adviser {
  margin-top: 20px;
  .el-card {
    .el-card__body {
      .adviser__item {
        background-color: #f4f4f4;
        .el-image {
          height: 176px !important;

          &:hover {
            cursor: pointer;
          }
        }

        .adviser__content {
          padding: 15px;

          .adviser__name {
            font-size: 18px;
          }

          .adviser__consulte {
            width: 80px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border-radius: 3px;
            background-color: #47b3e3;
            color: #fff;
            font-size: 12px;
            margin: 10px 0;
            padding: 0;

            i {
              position: relative;
              top: 1px;
              margin-right: 5px;
            }

            &:hover {
              cursor: pointer;
            }
          }

          .adviser__text {
            color: #869099;
            font-size: 12px;
            margin-top: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}