.dynamic {
  margin-top: 20px;

  /deep/.el-card__header {
    .header {
      .el-button {
        position: relative;
        bottom: 4px;
        height: 22px;
        padding: 0 5px;
        color: #47b3e3;
        border-color: #47b3e3;

        &:hover {
          color: #47b3e3 !important;
        }

        span {
          margin-left: 5px;
        }
      }
    }

    .el-button {
      padding: 10px 0 0 0;
      color: #869099;
      &:hover {
        color: #606266;
      }
    }
  }

  .home__news {
    margin-top: 30px;
    /deep/.el-tabs {
      .el-tabs__header {
        .el-tabs__nav-wrap::after {
          display: none;
        }
        .el-tabs__active-bar {
          height: 4px;
        }
        .el-tabs__item {
          font-size: 24px;
          font-weight: 700;
          color: initial;
        }
      }

      .el-tabs__content {
        a {
          line-height: 30px;

          i {
            color: #47b3e3;
            margin-right: 5px;
          }
        }
      }
    }
  }
}