.title {
  .el-container {
    .el-header {
      line-height: 120px;
      font-size: 38px;
      height: 130px !important;
      text-align: center;
      padding: 0;
      padding-bottom: 10px;
      border: none;
    }

    .el-main {
      & > div {
        text-align: center;

        i {
          font-size: 100px;
          color: #47b3e3;
        }

        .title__name {
          line-height: 24px;
          font-size: 18px;
        }

        .title__desc {
          line-height: 24px;
          color: #869099;
        }
      }
    }
  }
}
