.map-traffic {
  margin-top: 20px;

  /deep/.el-tabs {
    margin-bottom: 40px;
    .el-tabs__header {
      .el-tabs__item {
       font-size: 16px;
       font-weight: bold;
      }
    }
  }

  .el-card {
    .el-card__body {
      div {
        line-height: 24px;
      }
    }
  }
}