@import './fonts/icomoon.css';
@import './element-ui.scss';

//全局公共样式
body {
  margin: 0;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  color: #3b4144;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #47b3e3;
    }
  }

  .line-clamp {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  // 您的位置
  .current-local {
    margin: 20px 0;
    color: #869099;
    height: 19px;

    a+a {
      &::before {
        content: '>';
        margin: 0 5px;
      }
    }
  }
}
