.carousel {
  position: absolute;
  width: calc(100% + 40px);
  margin-left: -20px;

  /deep/.el-carousel {
    .el-carousel__container {
      .el-carousel__arrow--left {
        left: calc(((100% - 1200px) / 2) + 250px);
      }

      .el-carousel__arrow--right {
        right: calc((100% - 1200px) / 2);
      }
      
      .el-carousel__item {
        .el-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}