.calculator {
  .desc {
    margin: 30px 0;
    color: #ff6400;
  }

  /deep/.el-form {
    .el-form-item {
      .el-form-item__content {
        .el-radio-group {
          display: flex;
          justify-content: space-between;
          .el-radio-button {
            width: 100%;
            .el-radio-button__inner {
              width: 100%;
              border-radius: 0;
              padding: 10px;
            }

            &:not(.is-active) {
              .el-radio-button__inner {
                border-left: 1px solid #dcdfe6;
              }
            }

            &:first-child {
              margin-right: 10px;
            }
          }
        }

        .el-select {
          width: 100%;
        }

        .submit,
        .reset {
          width: 100px;
          line-height: 40px;
          padding: 0;
        }

        .submit {
          background: #47b3e3;
          border-color: #47b3e3;
          color: #fff;
        }

        .reset {
          background: #e2f6ff;
          border-color: #e2f6ff;

          &:hover {
            color: initial;
          }
        }
      }
    }
  }
}