.agreement {
  p {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 32px;
  }

  .blod {
    font-weight: bold;
  }

  .link {
    color: #47b3e3;
  }

  .footer {
    margin-top: 100px;
    text-align: center;

    p {
      margin: 0;
    }
  }
}
