.dynamic {
  margin-top: 50px;

  /deep/.el-card__header {
    .header {
      .el-button {
        line-height: 18px;
        padding: 0 5px;
        color: #47b3e3;
        border-color: #47b3e3;

        &:hover {
          color: #47b3e3 !important;
        }
      }
    }

    .el-button {
      padding: 10px 0 0 0;
      color: #869099;
      &:hover {
        color: #606266;
      }
    }
  }

  .el-card__body {
    .title {
      display: flex;
      margin-bottom: 10px;

      .el-link {
        font-size: 16px;
        max-width: 770px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
      }

      div {
        color: #869099;
        margin-left: 20px;
        line-height: 21px;
      }
    }

    .info {
      .el-link {
        color: #869099;
        line-height: 24px;

        :hover {
          color: #869099;
        }
      }

      .el-button {
        color: #47b3e3;
        padding: 0;
      }
    }
  }

  .home__consultation {
    i {
      color: #47b3e3;
      margin-right: 5px;
    }
  }
}