.about {
  /deep/.el-container {
    position: absolute;
    min-height: 100%;
    width: 100%;
    padding-bottom: 140px;

    .el-header,
    .el-main,
    .el-footer {
      display: flex;
      justify-content: center;
      padding-right: 60px;

      & > div {
        width: 1000px;
        min-width: 1000px;
      }
    }
  
    .el-header {
      height: 80px !important;
    }

    .el-main {
      padding-top: 0;
    }
  
    .el-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto !important;
      background: #3b4144;
    }
  }
}