.content {
  .el-row {
    &:not(:last-child) {
      border-bottom: 1px dashed #ddd;
    }

    .el-col {
      padding-top: 20px;
      padding-bottom: 25px;
      
      .title {
        color: #999;
        font-size: 18px;
      }

      .data {
        margin-top: 15px;

        a {
          display: inline-block;
          margin-top: 10px;
          width: 105px;
        }
      }
    }
  }
}
