.price {
  margin-top: 20px;

  /deep/.el-card {
    .el-card__body {
      .legend {
        height: 60px;
        border-bottom: 1px dashed #ddd;
        background: #f9f9f9;
        position: relative;
        line-height: 60px;

        .el-link {
          margin: 0 20px;

          i {
            margin-right: 5px;
          }
        }
      }
      .chart {
        height: 300px;
      }
    }
  }
}