.price {
  // margin-top: 20px;

  /deep/.el-card {
    .el-card__body {
      .legend {
        height: 60px;
        border-bottom: 1px dashed #ddd;
        background: #f9f9f9;
        position: relative;
        line-height: 60px;

        a {
          margin: 0 20px;

          i {
            position: relative;
            top: 4px;
            margin-right: 10px;
            font-size: 20px;
          }
        }
      }
      .chart {
        height: 300px;
      }
    }
  }
}