.home {
  position: relative;

  /deep/.el-card {
    .el-card__header {
      color: #3b4144;
      font-size: 30px;
      font-weight: bold;
      padding-left: 0;
      padding-right: 0;
      border: none;

      & > div {
        .el-button {
          padding: 20px 0 0 0;
        }
      }
    }

    .el-card__body {
      border: 1px solid #d8d8d8;
      border-radius: 5px;
      padding: 20px;
      margin-top: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    
      .img__first {
        height: 450px;
        padding-bottom: 60px;
    
        .img__first__name {
          font-size: 20px;
        }
      
        .img__first__detail {
          display: flex;
          justify-content: space-between;
      
          .img__first__detail__text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-top: 6px;
          }
      
          .img__first__detail__price {
            white-space: nowrap;
            font-size: 20px;
            margin-left: 10px;
          }
        }
      }
    
      .img__more {
        padding: 0 !important;
        & > .el-col {
          height: 225px;
          padding-bottom: 60px;

          .img__more__name {
            font-size: 16px;
          }
    
          .img__more__detail {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
    
            .img__more__detail__text {
              // font-size: 16px;
              width: 60%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-top: 2px;
            }
    
            .img__more__detail__price {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}