.footer {
  .footer__aboutcopy {
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid rgba(134, 144, 153, 0.3);

    .el-button {
      font-size: 14px;
    }

    .el-button+.el-button {
      margin-left: 20px;
    }
  }

  .footer__links {
    padding: 10px 0 15px;
    color: #869099;
    border-bottom: 1px solid rgba(134, 144, 153, 0.3);
    line-height: 32px;

    .footer__links__title {
      width: 78px;
    }
  }

  .footer__conyfiv {
    padding: 10px 0;
    color: #869099;
    line-height: 22px;

    .el-link {
      font-size: inherit;
      color: inherit;
      top: -2px;

      &:hover {
        color: #47b3e3;
      }

      img {
        margin: 1px 0;
      }
    }

    .el-link+.el-link {
      margin-left: 15px;
    }
  }
}