.houses {
  padding: 15px 30px;
  /deep/.el-row {
    line-height: 30px;
    margin-bottom: 10px;

    .el-button {
      margin: 0 20px 0 0;
      padding: 5px 0;

      &.active {
        color: #47b3e3;
        font-weight: bold;
      }
    }

    .houses__filter__checkbox {
      display: inline-flex;
      justify-content: space-around;
      line-height: 24px;
      width: 150px;
      border: 1px solid #eee;
      cursor: pointer;
      margin-right: 10px;

      .el-checkbox {
        margin-left: 10px;
      }
    }

    .el-select {
      margin-right: 10px;
      width: 150px;
      line-height: 26px;
      font-size: inherit;

      .el-input {
        .el-input__inner {
          position: relative;
          top: -1px;
          line-height: 26px;
          height: 26px;
          border-color: #eee;
          border-radius: 0;
        }
      }

      .el-option {
        font-size: inherit;
      }
    }
  }
}
