.layout {
  .el-aside {
    position: fixed;
    height: 100%;
    right: 0;
    background: #fff;
    border-left: 1px solid #eaeaea;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /deep/.el-container {
    .el-header,
    .el-main,
    .el-footer {
      display: flex;
      justify-content: center;
      padding-right: 60px;

      // & > div {
      //   width: 1200px;
      //   min-width: 1200px;
      // }
  
      & > div:not(.home):not(.help) {
        width: 100%;
        max-width: 1200px;
      }

      & > .home {
        width: 100%;

        & > div:not(.carousel) {
          width: 100%;
          max-width: 1200px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      & > .help {
        width: 100%;

        & > .help__expand {
          width: 100%;
          max-width: 1200px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  
    .el-header {
      height: 80px !important;
      padding-top: 15px;
      border-bottom: 1px solid #ddd;
    }

    .el-main {
      padding-top: 0;
    }
  
    .el-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto !important;
      background: #3b4144;
    }
  }

  .layout__container {
    position: absolute;
    min-height: 100%;
    width: 100%;
    padding-bottom: 140px;
  }
}