.dynamic {
  margin-top: 30px;
  
  .el-card {
    padding-top: 0;
    /deep/.el-card__header {
      .header {
        .dynamic__disclaimer {
          margin-right: 10px;
          color: #869099;
        }

        /deep/.dynamic__notice {
          line-height: 18px;
          height: 22px;
          padding: 0 5px;
          color: #47b3e3;
          border-color: #47b3e3;
  
          &:hover {
            color: #47b3e3 !important;
          }

          span {
            margin-left: 5px;
          }

          &::before {
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }
}
